body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f9;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
